.bg-red {
    background-color: #155db1;
    text-shadow: 1px 2px 2px black;
}

.texto-animacion{
    text-decoration: none;
    transition: all 200ms;
   

}

.texto-animacion:hover{
    transform: scale(1.2, 1.2);
     text-decoration: none;
}

form {
    max-width: 800px;
}

.titulo-card{
    width: 230px;
}

.titulo-card2{
    width: 200px;
}

/*estilos de la seccion para administradores*/
.tabla-infogeneral{
    max-width: 1150px;
}

.titulo-card3{
    width: 220px;
}

